
@media (max-width:1000px){
.contents{
    width: 50%;
    margin-bottom:50px;
    padding:0 50px;
}
.content-view{
    width: 50%;
    margin-left:0px;
    padding:0px 20px;
}
.service{
    width:inherit;
}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.travels .travel .travel-icon .pic1 {
	width: 100%;
	height: 100%;
	padding: 30px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.pic1 {
	width: 20px;
	height: 20px;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.pic1 {
	width: 20px;
	height: 20px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.pic1 {
	width: 20px;
	height: 20px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.pic1 {
	width: 20px;
	height: 20px;
}